.order-list table {
  width: 100%;
  border-collapse: collapse;
}
.order-list th,
.order-list td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.highlight {
  color: red;
}
.delivered {
  color: green;
}
.order-list-header{
  display: flex;
}
.view-all-list{
  margin-left: auto;
  background-color: #e74c3c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.view-products {
  margin-left: 1200px;
  background-color: #e74c3c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
/* ListaProdu.css */
.order-list {
  padding: 20px;
}

.order-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.highlight {
  font-weight: bold;
}

.delivered {
  color: green;
}
