.order-list {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.delivered {
    color: green;
}

.pending {
    color: red;
}

.detail-button {
    background-color: #ff6347; /* Color rojo */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.detail-button:hover {
    background-color: #e55347; /* Color rojo más oscuro */
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
}
